@use '../utils/mixin' as *;
@use '../utils/variables' as *;
@use '../components/bouttons' as *;
@use '../base/typography';

/* FONCTIONNEMENT */
.fonctionnement {
    counter-reset: steps;
    @include tablette {
        padding-bottom: 60px;
    }
    &__title {
        @include tablette {
            text-align: left;
            padding: 0 60px;
        }
    }
    &__section {
        display: flex;
        flex-wrap: wrap;
        gap: 3rem;
        padding: 20px 60px;
    }

    &__bloc {
        @include btn-fonctionnement;
        @include tablette {
            width: 80%;
        }
        &:hover {
            background-color: lighten($primary-color, 30%);
            &:hover i {
                color: $primary-color;
            }
        }
    }
}