@use '../utils/mixin' as *;
@use '../utils/variables' as *;
@use '../components/bouttons' as *;
@use '../base/typography';

/* FONCTIONNEMENT */
.tuto {
    counter-reset: steps;
    & ol {
        display: flex;
        flex-wrap: wrap;
        gap: 3rem;
        padding: 20px 60px;
    }

    & li {
        @include btn-fonctionnement;
     }
    li:hover {
        background-color: lighten($primary-color, 30%);
        &:hover i {
            color: $primary-color;
        }
    }
        }

@media screen and (max-width: 1024px) 
{
    .tuto {
        padding-bottom: 60px;
            & h2 {
                text-align: left;
                padding: 0 60px; 
            }
            & li {
                width: 80%;
            } 
        }
}