@use '../utils/mixin' as *;
@use '../utils/variables' as *;
@use '../components/bouttons' as *;
@use '../base/typography';

/* FONCTIONNEMENT */
.fonctionnement {
    counter-reset: steps;
    @include tablette {
        padding-bottom: 60px;
    }
    @include mobile-L {
        padding-bottom: 20px;
    }
    &__title {
        @include titre;
        @include mobile-L {
            padding-left: 20px
        }
        @include mobile {
            text-align: left;
            padding-left: 20px;
        }
    }
    &__section {
        display: flex;
        flex-wrap: wrap;
        gap: 3rem;
        padding: 20px 60px;
        @include mobile {
            padding: 30px;
        }
        @include mobile-XL {
            padding: 0 20px;
        }
    }

    &__bloc {
        @include btn-fonctionnement;
        @include mobile-XL {
            padding: 15px 34px;
        }
    }
}