@use "../utils/mixin" as *;
@use "../utils/variables" as *;
@use "../components/bouttons" as *;
@use "../base/typography";

// HEADER
.citybar {
  @include Flexbox;
  gap: 20px;
  text-align: center;
  margin: 0;
  background-color: #ededed;
  box-shadow: inset 0 5px 10px darkgrey;

  i {
    font-size: 25px;
  }

  p {
    color: #444;
    @include texte;
    padding: 5px 0;
  }
}

.restauration {
  background-color: #f7f7f7;
  padding: 50px;

  h2 {
    @include titre;
    padding: 0 5%;
  }

  p {
    @include texte;
    text-align: center;
    margin: 10px 0 0 0;
  }

  button {
    @include btn;
  }
}

@media screen and (max-width: 1024px) {
  header {
    h1 {
      text-align: center;
    }
  }

  .restauration {
    h2 {
      text-align: center;
    }
  }
}