@use "../utils/mixin" as *;
@use "../utils/variables" as *;
@use "../components/bouttons" as *;
@use "../base/typography";

// HEADER
h1 {
  @include tablette {
    text-align: center;
  }
}

.citybar {
  @include Flexbox;
  gap: 20px;
  text-align: center;
  margin: 0;
  background-color: #ededed;
  box-shadow: inset 0 5px 10px darkgrey;
    &__icon {
      font-size: 25px;
    }
    &__city {
      color: #444;
      @include texte;
      padding: 5px 0;
    }
}

.restauration {
  background-color: #f7f7f7;
  padding: 50px;
    &__title {
      @include titre;
      padding: 0 5%;
      @include tablette {
        text-align: center;
      }
    }
    &__subtitle {
      @include texte;
      text-align: center;
      margin: 10px 0 0 0;
    }
    &__btn {
      @include btn;
    }
}