@use '../utils/_mixin' as *;
@use '../utils/_variables' as *;
@use '../base/typography';

/* RESTAURANTS */
.menus {
    background-color: #f7f7f7;
    padding: 0 0 6rem 0;
    @include tablette {
        padding: 60px 20px;
    }
    &__title {
        @include tablette {
        margin: 0;
        padding: 0 0 20px 0;
        }
        @include mobile {
            text-align: left;
            padding-left: 20px;
        }
    }
    &__cards {
        @include Flexbox;
        flex-wrap: wrap;
        gap: 2rem;
        padding: 0 60px;
        @include tablette {
            flex-direction: column;
            padding: 0;
        }
    }
        .new {
            position: relative;
            &::before {
            content: "Nouveau";
            position: absolute;
            height: 3rem;
            width: 10rem;
            background-color: $tertiary-color;
            color: darken(lightgreen, 50%);
            @include texte;
            font-weight: 600;
            display: grid;
            place-items: center;
            right: 1.5rem;
            top: 1.5rem;
            border-radius: 3px;
            @include mobile {
                font-size: 20px;
                height: 2.5rem;
                width: 8rem;
            }
            }
        }
    
    .card {
        width: calc(50% - 120px);
        text-decoration: none;
        color: inherit;
        @include tablette {
            width: 100%;
        }
        &__image {
            border-radius: 2rem 2rem 0 0;
            height: 15rem;
            background-size: cover;
        }
        &__image-1 { 
            background-image: url(./img/menu-1.jpg)
        }
        &__image-2 { 
            background-image: url(./img/menu-2.jpg)
        }
        &__image-3 { 
            background-image: url(./img/menu-3.jpg)
        }
        &__image-4 { 
            background-image: url(./img/menu-4.jpg)
        }
        &__description {
            position: relative;
            background-color: white;
            border-radius: 0 0 2rem 2rem;
            padding: 1rem;
            @include box-shadow;
            &--title, 
            &--text {
                @include texte;
                margin: 0.5rem;
                @include mobile-L {
                    font-size: 20px;
                }
            }
            &--title {
                font-weight: 800;
            }
            i {
                font-size: 40px;
                position: absolute;
                right: 1rem;
                top: 50%;
                transform: translateY(-50%);
                padding-right: 1rem;
                @include mobile-L {
                    font-size: 35px;
                }
            }
            .fas {
                color: transparent;
                background-image: linear-gradient(to top, $secondary-color, $primary-color);
                background-clip: text;
                -webkit-background-clip: text;
                opacity: 0;
                transition: all 200ms ease-in-out;
            }
            &:hover .fas {
                opacity: 1;
                transform: translateY(-50%) scale(1.2)
            }
        }
    }
}