@use '../utils/variables.scss' as *;
@use '../utils/mixin' as *;

@mixin btn {
    @include box-shadow;
    display: flex;
    margin: 3rem auto 1rem auto;
    background-image: linear-gradient(to top,$secondary-color, $primary-color);
    color: white;
    font-weight: 600;
    font-size: 1.5rem;
    padding: 1.5rem 3rem;
    border: none;
    border-radius: 3rem;
    transition: transform 200ms;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    &:hover {
        transform: scale(1.02);
        opacity: 0.9;
        transition: transform all ease-in 10s;
        background-image: linear-gradient(to top,$primary-color, $secondary-color);
    }
}

@mixin btn-fonctionnement {
position: relative;
        &::before {
            content: counter(steps);
            counter-increment: steps;
            color: white;
            background-color: $primary-color;
            width: 2rem;
            height: 2rem;
            display: grid;
            place-items: center;
            border-radius: 50%;
            position: absolute;
            bottom: 1.5rem;
            left: -1rem;
        }
        list-style-type: none;
        background-color: #f7f7f7;
        padding: 1.5rem 2rem;
        flex-grow: 1;
        border-radius: 2rem;
        font-size: 26px;
        font-weight: 700;
        font-family: 'Roboto', sans-serif;
        @include box-shadow;
        &:hover {
            transform: scale(1.02);
        }
        & i.fas {
            margin-right: 1rem;
            color: grey;
            font-size: 1.5rem;
        }
        & i.fas:hover {
            color: $primary-color;
        }
    }