@use '../utils/mixin' as *;

*,
::before,
:after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.main {
    padding: 0 1rem;
}

h1 {
    @include titre;
    margin: 30px 0 10px 0;
}

h2 {
    @include titre;
    padding: 50px;
}